
<header>
    <h1>BIENVENU AU CYBERCOMMANDES DU GROUPE NUMERO 6</h1>
</header>

<div class="p-3">
    <div class="nav nav-pills">
        <ul class="nav nav-pills">
          
            <li>
                <button  routerLink="/planificateur" class="btn btn-outline-primary ms-2">Planificateur</button>
            </li>
            <li>
                <button routerLink="/livreur" class="btn btn-outline-primary ms-2">Livreur</button>
            </li>
        </ul>
    </div>
 
 
</div>

<router-outlet></router-outlet>