.navigationButton{
    float:  right;
    
    margin-left: 10px;
    background-color: aquamarine;
    border-radius: 5px;
}

.validerEquipe button{
    background-color: blue;
}

.equipeL{
    float: none;
    background-color: aqua;
    border-radius: 10px;
    width: 350px;
}
.equipe button{
    float: right;
}