.navigationButton{
    float:  right;
    
    margin-left: 10px;
    background-color: aquamarine;
    border-radius: 5px;
}
#F{
    margin-top: 10px;
}

.validerEquipe button{
    background-color:aqua;
    border-radius: 15px;
}

.equipeL{
    float: left;
    background-color: aqua;
    border-radius: 10px;
    width: 360px;
}
.equipe{
    display: inline-flex;
}
#equipeGroupe{
    margin-top: 20px;
}