<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon >menu</mat-icon>
    </button>
<span class="space"></span>

<button mat-button>
    <mat-icon>message</mat-icon>

    messages</button>
<button mat-button>
    <mat-icon>notifications</mat-icon>
    notifications</button>
    <button mat-button >Planificateur</button>

<button mat-button [matMenuTriggerFor]="importMenu" >
    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    Profil</button>
<!--button mat-raised-button color="accent">Login</button-->


<mat-menu #importMenu>
    <button mat-menu-item disabled>
        <mat-icon>login</mat-icon>
      Login
    </button>
    <button mat-menu-item color="accent">
        <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container>
<mat-drawer #drawer mode="side" position="start" opened="true">
    <div class="user-info">
        <img src="../../assets/images/planif.png" alt="User Photo" class="user-photo">
        <div class="user-role">Planificateur</div>
    </div>
    <mat-nav-list>
        <mat-list-item>
<button mat-button routerLink="/dashbord">
    <mat-icon>home</mat-icon>
    Dashbord</button>
        </mat-list-item>

        <mat-list-item>
            <button mat-button routerLink="/planificateur/planningday">
                <mat-icon>calendar_today</mat-icon>
                Planifier Journée</button>
        </mat-list-item>

        <mat-list-item>
        
            <button mat-button routerLink="/visualiser">
                <mat-icon>visibility</mat-icon>Visualiser Journée</button>
        </mat-list-item>

        <mat-list-item>
         
            <button mat-button routerLink="ajusterday">
                <mat-icon>person</mat-icon>
                Ajuster Journee</button>
        </mat-list-item>

        <mat-list-item>
         
            <button mat-button routerLink="/suivicarte">
                <mat-icon>map</mat-icon>
                Carte de Suivi</button>
        </mat-list-item>
    </mat-nav-list>
</mat-drawer>
<mat-drawer-content>
    <div style="min-height: 500px">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-content>

</mat-drawer-container>
