<h1 id="ajoutDay">ajouter une journee</h1>
<!--contenu de choix de date et d'entrepot charger depuis la base de donnee-->
<div id="contenu">
    <form>
       
        <mat-form-field>
            <mat-label>Entrepot: </mat-label>
            <mat-select [(ngModel)]="journee().nomEntrepot" name="entrepot">
                @for (entr of entrepotData; track $index) {
                    <mat-option [value]="entr.nom">{{entr.nom}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date: </mat-label>
        <input matInput type="date" [(ngModel)]="date"/>
        </mat-form-field>

    </form>
</div>
 <!--gestion de traitement add et cancel-->
    <mat-dialog-actions class="buttons">
        <button mat-button class="buttonAdd" [mat-dialog-close]="journee()">Add</button>
    </mat-dialog-actions>
 
    



  