#ajoutDay{
    display: flex;
    align-self: center;
    color: blue;
}
#contenu{
    margin-top: 30px;
    display: flex;
    align-self: center;
}

.buttonAdd{
    display: flex;
    margin-right: 100px;
    background-color: blue;
}
