<mat-card>
    <mat-card-header>
        <mat-card-title>Suivre Carte</mat-card-title>
    </mat-card-header>
        <mat-card-content>
    
            <!--<mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                   
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card appearance="outlined">
                        <mat-card-content>Simple card</mat-card-content>
                      </mat-card>
                </mat-grid-tile>
             
              </mat-grid-list>-->
            </mat-card-content>
</mat-card>
<!--affichage de la carte-->
<div>
    
</div>
