 <!--traitement de carte pour l'affichage-->
<div style="height: 400px;"
    leaflet
    [leafletOptions]="{ layers: layers(), zoom: zoom(), center: center() }"
    [leafletCenter]="center()"
    [leafletZoom]="zoom()"
    [leafletLayers]="layers()"
>
</div>
<div *ngIf="hoveredClient" class="tooltip-client" [style.top.px]="tooltipY" [style.left.px]="tooltipX">
  <b>{{ hoveredClient.prenom }} {{ hoveredClient.nom }}</b><br>
  📧 {{ hoveredClient.email }}<br>
  📍 {{ hoveredClient.adresse }}, {{ hoveredClient.codePostal }} {{ hoveredClient.ville }}<br>
  📦 {{ hoveredClient.commandes.length }} commandes
</div>
<button (click)="traceItinerary()">Tracer l'itinéraire</button>
