
<div style="padding: 10px;">

</div>
<mat-card>
    <mat-card-header>
        <mat-card-title>Plannifier Journée</mat-card-title>
        <mat-divider></mat-divider>
   
        <mat-card-subtitle>welcome Monsieur</mat-card-subtitle>
        <!--conteneur pour ajouter une journne avec les renseignements date et entrepot id genere-->
       <div id="addDay">
        <button mat-raised-button (click)="addDay()" >Ajouter</button>
       </div>
    </mat-card-header>
   
    <mat-card-content>
     
    </mat-card-content>

</mat-card>
<!--lister les journees sdepuis le tableau journeeList avec l'option button planifier qui ouvre un dialog-->
<div id="tableauJournee">
  @for (j of journeeList(); track $index) {
    <div>
      {{j.nomJournee + $index}} {{j.nomEntrepot}} {{j.date}}
      <button mat-button type="button" (click)="suprimerJournee($index)">Suprimer</button>
      <button mat-button type="button">Plannifier</button>
    </div>
  }
</div>
   
  