
<div style="padding: 10px;">

</div>
<mat-card>
    <mat-card-header>
        <mat-card-title>Plannifier Journée</mat-card-title>
        <mat-divider></mat-divider>
   
        <mat-card-subtitle>welcome Monsieur</mat-card-subtitle>
        <!--conteneur pour ajouter une journne avec les renseignements date et entrepot id genere-->
       <div id="addDay">
        <button mat-raised-button (click)="addDay()" >Ajouter</button>
       </div>
    </mat-card-header>
   
    <mat-card-content>
      
      
    </mat-card-content>

</mat-card>
